@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Exercise 3";
}

<h2>Exercise 3</h2>
<h4>Output Spiral Integers</h4>

<p>Hello from our View Template!</p>